<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>All Nodes list</h2>
  <marquee>Select node id to see data of nodes</marquee>
  <p><span style="background-color: green;color:white">Green color:</span> working node   <span style="background-color:red;color:white">Red color:</span>Node not working</p>
  <table class="table">
    <thead>
      <tr>
        <th>Node id</th>
        <th>Battery Strength<span style="color:red">*</span></th>
        <th>Signal Strength<span style="color:red">*</span></th>
        <th>Timestamp<span style="color:red">*</span></th>
      </tr>
    </thead>
    <tbody>

    {% for node in node_data %}
	      <tr class="success">
	        <td><a href="node/{{node.node_id}}">{{node.node_id}}</a></td>
          <td>{{ node.battery_str }}</td>
          <td>{{ node.signal_str }}</td>
          <td>{{ node.ctimestamp }}</td>
        </tr> 
    {% endfor %}    

    </tbody>
  </table>
  <span class="pull-right"><span style="color:red">*</span> Updated values in every 15 minutes</span>
</div>

</body>
</html>
