{% extends "blogs/base.html" %}
{% load markdown_deux_tags %}

{% block content %}
	<h1>from templates folder</h1>
	<div class="row">
	{% for obj in queryset %}
		  <div class="blog_img col-sm-6">
		    <div class="thumbnail">
		    {% if obj.image %}
				<img src="{{obj.image.url}}" class="img-responsive">
		    {% endif %}
		      <div class="caption">
		        <h3><a href="{{obj.get_absolute_url}}">{{obj.title}} </a><small>{{obj.timestamp|timesince}}</small></h3>
		        <p>{{obj.content|markdown|linebreaks|truncatechars_html:100}}</p>
		        <p><a href="{{obj.get_absolute_url}}" class="btn btn-primary" role="button">View</a></p>
		      </div>
		    </div>
		</div>

	{% cycle "" "</div><div class='row'>" %}
	
	{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?page={{ queryset.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span>

        {% if queryset.has_next %}
            <a href="?page={{ queryset.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	</div>
{% endblock content %}