body{
	background-color: #d0d0d0;
}
.wmd-panel 
{
    margin-left: 0px !important;
}
.messages{
	width: 25%;
    position: absolute;
    left: 0px;
    margin: auto;
    right: 0px;
    list-style: none;
}